asgiref==3.2.7
azure-common==1.1.25
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
Django==3.0.12
django-storages==1.9.1
future==0.18.2
idna==2.9
lxml==4.5.1
numpy==1.18.4
Pillow==7.1.2
pycparser==2.20
python-dateutil==2.8.1
pytils==0.3
pytz==2020.1
PyYAML==5.3.1
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
tools==0.1.9
torch==1.5.0
torchvision==0.6.0
urllib3==1.25.9
